
@{
    ViewBag.Title = "ManagerCustomerV3";
}
<style>
     /*custom font*/
    @@import url(https://fonts.googleapis.com/css?family=Montserrat);
     body {
        font-family: montserrat, arial, verdana;
        background: transparent;
    }


      #msform {
        /*text-align: center;*/
        position: relative;
        margin-top: 20px;
    }

       #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 80%;
            margin: 0 10%;
            /*stacking fieldsets above each other*/
            position: relative;
        }
        /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
                display: none;
            }
             /*inputs*/
        #msform input, #msform textarea {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 0px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 13px;
        }




         /*buttons*/
        #msform .action-button {
            width: 100px;
            background: #ee0979;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
            float:right;
        }
          #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
            }

          #msform .action-button-previous {
            width: 100px;
            background: #C5C5F1;
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
            float:right;
        }

            #msform .action-button-previous:hover, #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
            }





    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }

        #progressbar li {
            list-style-type: none;
            color: white;
            text-transform: uppercase;
            font-size: 9px;
            width: 20%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 24px;
                height: 24px;
                line-height: 26px;
                display: block;
                font-size: 12px;
                color: #333;
                background: white;
                border-radius: 25px;
                margin: 0 auto 10px auto;
            }

            /*progressbar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: white;
                position: absolute;
                left: -50%;
                top: 9px;
                z-index: -1; /*put it behind the numbers*/
            }

            #progressbar li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }

            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/
            #progressbar li.active:before, #progressbar li.active:after {
                background: #ee0979;
                color: white;
            }
</style>
    <form id="msform">
        <ul id="progressbar">
            <li class="active">Datos Generales</li>
            <li>Descuento</li>
            <li>Dirección 1</li>
            <li>Dirección 2</li>
            @*<li>Domicilios</li>
            <li>Persona Moral</li>*@
        </ul>
        <fieldset>
            <h2>Datos Generales</h2>
            <div class="row">
                <div class="col-lg-4">

                    <div class="form-group">
                        <label for="exampleInputEmail1">Numero de Cliente</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Numero de cliente">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Razón Social</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Razón Social">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Nombre en Tarjeta</label>
                        <input type="text" class="form-control" placeholder="Nombre en tarjeta">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Tipo de Venta</label>
                        <select class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                 
                    @*<div class="checkbox">
            <label>
                <input type="checkbox"> Check me out
            </label>
        </div>*@

                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputFile">Correo</label>
                        <input type="email" class="form-control" placeholder="email">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Fax</label>
                        <input type="tel" class="form-control" placeholder="Número de Fax">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Digito Verificado</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Digito verificado">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">RFC</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="RFC">
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputFile">Referencia</label>
                        <input type="number" class="form-control" placeholder="Número de referencia">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Referencia Banamex</label>
                        <input type="number" class="form-control" placeholder="Número de referencia banamex">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Telefono</label>
                        <input type="tel" class="form-control" placeholder="Número de telefono">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">Grupo</label>
                        <input type="number" class="form-control" placeholder="Número de grupo">
                    </div>
                </div>
            </div>
            <input type="button" name="next" class="next action-button" value="Next" />
        </fieldset>
        <fieldset>

            <div class="row">
                <div class="col-lg-4">
                    <h2>Información de Descuento</h2>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Descuento</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Porcentaje de descuento">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Agente</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre de agente">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Movimiento</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Moviemiento">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dias de Credito</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Numero de días de crédito">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Típo</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="tipo">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Gubernamental
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Gíro</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Giro">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Status Contrato
                        </label>
                    </div>

                </div>
                <div class="col-lg-4">
                    <h2>Información de Contrato</h2>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tipo</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Tipo">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Fecha de Inicio</label>
                        <input type="datetime" class="form-control" id="exampleInputEmail1" placeholder="Giro">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tipo</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Tipo">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Gubernamental
                        </label>
                    </div>
                </div>
            </div>


            <input type="button" name="next" class="next action-button" value="Next" />
            <input type="button" name="previous" class="previous action-button-previous" value="Previous" />

        </fieldset>
    </form>

@section scripts{
    
    <script>
         //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        $(".next").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            next_fs = $(this).parent().next();
            
            //activate next step on progressbar using the index of next_fs
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            //show the next fieldset
            next_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale current_fs down to 80%
                    scale = 1 - (1 - now) * 0.2;
                    //2. bring next_fs from the right(50%)
                    left = (now * 50) + "%";
                    //3. increase opacity of next_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });
         $(".previous").click(function () {
            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });
    </script>
    }

