@*<footer>
        <nav class="navbar-default navbar-fixed-bottom">
            <div id="footer" class="navbar-right footer">
                <h5><span class="TextColorWhite">Walmart © @DateTime.Now.Year</span></h5>
            </div>
        </nav>
    </footer>*@
<footer class="footer">

    <div class="container">

        <p>&copy; Walmart @DateTime.Now.Year | Privacy Policy | Terms of Service</p>

    </div>

</footer>