<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <div class="imageLogo">
                        <img alt="Walmart" src="~/Images/logo.png" />
                    </div>
                </a>
            </div>
            <div class="navbar-collapse collapse navbar-default-collapse navbar-scoll">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <div class="textTitleHeader">
                            <h4>EVALUACIONES SISTEMAS</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>